# Layer7 PF snippet (sample)
# O helper /usr/local/libexec/layer7-pfctl regenera /usr/local/etc/layer7/pf.conf.
table <layer7_block> persist
table <layer7_tagged> persist

block drop quick inet from <layer7_block> to any label "layer7:block:src"
block drop quick inet6 from <layer7_block> to any label "layer7:block:src6"
